body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("./images/star-background.jpg")  
}

header img{
height: 150px;
width: auto;
display: flex;
justify-content: center;
border-color:rgb(23, 0, 59);
border-width: 5px;
border-style: solid;
}
header{
    background-color: rgb(15, 73, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    border-radius: 12px;
    color: whitesmoke;
    padding: 10px;
    margin: 20px;
}

.about-me {
    text-align: center;
    color: white;
}

.projects{
    background-color:rgb(142, 109, 173);
    color: whitesmoke;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
}

.skills{
    background-color:rgb(255, 124, 146);
    color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}

.skills ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contact{
    background-color:rgb(120, 180, 175);
    padding: 10px;
    border-radius: 12px;
    margin: 20px;
    height: 80px;
}
