/* For the game styled stuff*/
body{
    height: 600px;
    width: 800px;
    overflow: hidden;
    background-color: black;
    margin: 0px;
}
div.frame{
    transition: all 2s;
    opacity: 0%;
    display: none;
    height: 100%;
    width: 100%;
}
div.frame.fade{
    opacity: 100%;
}
.cprBody{
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    height:600px;
    width: 500px;
    opacity: 100%;
}
.padArea{
    background-color: transparent;
    border-color: red;
    border-style: dotted;
    border-radius: 20px;
    position: absolute;
    height: 250px;
    width: 100px;
}
#pad1Area{
        rotate: -152deg;
        border-color: blue;
}
#pad2Area{
        rotate: 137deg;
}
#pad1{rotate: -152deg;background-color:blue;}
#pad2{rotate: 137deg;}
.aedPad{
    position:absolute;
    top: 50px;
    left: 100px;
    background-color: red;
    border-color: transparent;
    border-radius: 20px;
    height: 250px;
    width: 100px;
}
