body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: 'Open Dyslexic';
    color: lightblue;
    overflow-x: hidden;
}
.topBar{
    width: 100%;
    margin: 0px;
    /*position: fixed;*/
    height: 100px;
    background-color:red;
    padding: 0.5%;
    padding-bottom: 0px;
    border-style: groove;
    border-color: red;
    border-width: 0px;
    border-bottom-width: 15px;
}
.element{
    color:white;
    font-weight: bold;
    text-align: center;
    align-content: center;
    float:left;
    height: 100%;
    /*May want to change later*/
    width: 15%;
    border-color: indianred;
    border-style: dashed;
    border-width: 0px;
    border-left-width: 3px;
    /*Shifting color without JS*/
    background-color:red;
    transition: background-color 0.5s;
}
.element:hover{
    background-color: rgb(200, 0, 0);
}
.logo{
    /*Change px to whatever size of topBar is*/
    height: 100px;
    width: 100px;
    float: left;
    /*May want to change below later if logo is changed*/
}

/* video-section (affects mostly text) */
.video-section{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    background-color: rgb(255, 95, 95);
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    left: 0;
}

.video{
    /*Placeholder box for video*/
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    width: 80%;
    aspect-ratio: 19/9;
    background-color: black;
    margin: 50px;
}
/*To be used alongside card*/
.cardContainer{
    height: fit-content;
}
/*To be used on div within cardContainer along with another class or attribute that determines size*/
.card{
    float:left;
    background-color: rgb(255, 60, 45);
    border-width: 7px;
    border-style: groove;
    border-color: rgb(240, 50, 35);
}
/*For home screen card usage*/
.home{
    width: 19%;
    margin-left: 0.5%
}
.portfolio{
    width: 19%;
    margin-left: 0.25%
}
