body{
    background-image: url("./cutebabyduckling.webp");
    background-size: cover;
    text-align: center;
    font-style: oblique;
    color: teal
}

section{
    background-color:rgba(222, 184, 135, 0.40);
    color: teal;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-style:dotted;
    border-width: 3px;

}

ul.navigationlinks{
    background-color: rgba(222, 184, 135, 100);
    color: teal;
    gap: 3.5rem;
    padding: 1.1rem 15rem;
}

a{
}

nav.navigationbar{
    text-align: center;
}