.Title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 150%;
    margin-top: 80px;
}

.Desc{

    border-style:dashed;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ffffff30;
    padding-left: 10px;
    padding-right: 10px;
    
}

.List{
  
    border-style:dashed;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ffffff30;
    
}

.Experience{
    border-style:dashed;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ffffff30;
    margin-bottom: 80px;
}

.ProjSub{
    border-style:dashed;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ffffff30;
}

.nav-bar{

    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #6600b4;
    align-self: flex-start;
    width: 100%;
    box-shadow: 0 7px 7px rgb(88, 0, 151, 0.7);
}

.nav-links{
    
    list-style: none;
    gap: 2.5rem;
    display: flex;
    padding: 3px;
    text-shadow: #640063;
    text-align: center;
    align-self: center;

    
}

header{
    align-self: flex-start;
}

a{
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-content: center;
    text-align: center;
}

@keyframes gradientName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body{

    margin: 0px !important;
    height:100%;
    width: 100%;
    color: white;
    align-content: center;
    text-align: center;
    background-size: 400%;
    background-image: linear-gradient(to right,#6200ac,#8f00ff, #b553ff);
    -webkit-animation: gradientName 10s cubic-bezier(0, 0, 1, 0.99) infinite;
    animation: gradientName 10s cubic-bezier(0, 0, 1, 0.99) infinite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
